body{
	background: url("../img/back.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

#container{
	background-color: #FAFAFA;
	width: 500px;
	height: 290px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 0;
	padding-bottom: 5%;
	box-shadow: 0px 0px 20px black;
}

#top{
	width: 100%;
	padding: 2% 0% 2% 0%;
	display: flex;
	vertical-align: middle;
	background-color: #0E3B5A;
	color: #FAFAFA;
	font-size: 0.8em !important;
}

#bottom{
	padding-top: 2%;
}

.logo{
	width: 80px;
	height: 29.6px;
	vertical-align: middle;
	display:inline-block;
}

#logox{
	display:inline-block;
	vertical-align: middle;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 3%;
	margin-right: 5%;
}

h3{
	margin-top: 8px !important;
	font-size: 2em !important;
}

.logs{
	width: 70%;
	margin:auto;
}

.sub{
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: center;
}

#bot{
	width: 100%;
	padding-top: 1%;
	display: flex;
	justify-content: center;
}